@charset "UTF-08";

body{
    background: rgba(148, 148, 235, 0.233);
}

.container{
    border: 1px solid blue;
    padding: 10px;
    margin-bottom: 20px;

    /* display: grid; */
    width: 250px;
    display: inline-grid;
}

.item{
    background-color: palegreen;
}

pre{
    background-color: rgba(27, 24, 20, 0.466);
    width: 30%;
    border-radius: 10px;
    padding-left: 10px;
}

.container2{
    border: 1px solid blue;
    padding: 5px;
    margin-bottom: 20px; 

    /* display: grid; */
    /* width: 50%; */
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 300px 200px;
    background-color: yellow;


}

.item2{
    background-color: palegreen;
}

.item-01{
    background-color: cornflowerblue;
}

.item-02{
    background-color: palegreen;
}

.item-03{
    background-color: palevioletred;
}

.item-04{
    background-color: beige;
}

.item-05{
    background-color: cadetblue;
}

.item-06{
    background-color: darkolivegreen;
}

.container3{
    border: 1px solid blue;
    padding: 5px;
    margin-bottom: 20px; 

    /* display: grid; */
    /* width: 50%; */
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*Vai repetir 3x 1fr*/
    grid-template-rows: repeat(1, 300px 100px); /*Vai repetir 1x, 300px e 100px*/
    background-color: yellow;


}

.item3{
    background-color: palegreen;
}

.item-001{
    background-color: cornflowerblue;
}

.item-002{
    background-color: palegreen;
}

.item-003{
    background-color: palevioletred;
}

.item-004{
    background-color: beige;
}

.item-005{
    background-color: cadetblue;
}

.item-006{
    background-color: darkolivegreen;
}

.container4{
    padding: 10px;
    margin-bottom: 20px; 
    border: 1px solid black;
    height: 500px;

    /* display: grid; */
    /* width: 50%; */
    
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px); 
    grid-template-rows: repeat(2, 1fr);
    background-color: yellow;
}

.item4{
    border: 1px solid black;

}
/* voltar **** */
.container5{
    padding: 10px;
    margin-bottom: 20px; 
    border: 1px solid black;
    height: 500px;

    /* display: grid; */
    /* width: 50%; */
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 6fr)); 
    grid-template-rows: repeat(2, 1fr);
    background-color: yellow;
}

.item5{
    border: 1px solid black;

}