@charset "UTF-08";

.container{
    border: 1px solid blue;
    padding: 10px;
    margin-bottom: 20px;

    /* display: grid; */
    width: 250px;
    display: inline-grid;
}

.item{
    background-color: palegreen;
}



.container2{
    border: 1px solid blue;
    padding: 10px;
    margin-bottom: 20px;

    /* display: grid; */
    width: 250px;
    display: inline-grid;
}

.item2{
    background-color: palegreen;
}
