@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    

}

body{
    
    background-image: linear-gradient(to bottom, #D8FFDB , #008F8C, #015958 );
    background-attachment: fixed;
}

main{
    background-color: #ffffff;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin:auto; /*Vai centralizar, independente do tamanho da tela*/
    box-shadow: 5px 5px 10px #01595867;
}
h1{
    text-align: center;
    text-shadow: 1px 1px 3px #003d3c6c;
    /*Eixo X, Y, esfumaçamento e cor*/
}
h1, h2{
    color: #023535;
}
p{
    text-align: justify;
}